
<router-outlet></router-outlet>

<!--  Pipe de tiempo -->
 {{date | date}}
 {{date | date: 'shortDate'}}
 
 <!--  Cambia el color de la etiqueta -->
 <p [ngClass]="{'color': addClass}">hola mundo</p>
<button (click)="addClass = !addClass">Agregar Clase</button>
  
<!-- Cambia el color del elemento-->
  <p [ngStyle]="{'background-color': addClass ? 'red' : 'blue'}">hola mundo</p>
  <button (click)="addClass = !addClass;">Agregar Clase</button>

  <!--For para mostrar los items hijo-->
  <app-user *ngFor="let item of items" [user]="item" (outUser)="outUserMethod($event)"></app-user>

  <!--Checar que funcione Bootstrap-->
  <div class="container">
    <div class="card" style="width: 18rem;">
      <img src="./../assets/Imagenes/3fc59640f60a8e3d4ea3bb0701c59861.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  
  <!--Titulo interactivo-->
  <h1> Hola Mundo {{ title }} </h1>
  <input [(ngModel)]="title">

  <!--Cambiar Imagen con botón-->
  <img [src]="imagen"> 
  <button (click)="onChangeImage('./../assets/Imagenes/3fc59640f60a8e3d4ea3bb0701c59861.jpg')"> Imagen 1</button>
  <button (click)="onChangeImage('./../assets/Imagenes/531-5313156_universidad-de-la-salle-bajio-logo-png-transparent.png')">Imagen 2</button>
  <button (click)="onChangeImage('./../assets/Imagenes/descarga.png')">Imagen 3</button>
  <button (click)="onChangeImage('./../assets/Imagenes/pepsi.PNG')">Imagen 4</button>

 
  <!--  Modificar varios elementos -->
  <button (click)="title = 'titulo modificado'; imagen = './../assets/Imagenes/descarga.png'">Modificar titulo</button>


  <!--Componentes hijo nfFor-->
  <app-compontente *ngFor="let item of items"></app-compontente>

  <!--ngFor con propiedades del objeto-->
  <p *ngFor="let item of items; index as index;">
    {{ item.name}} - {{ index }}
  </p>


  <!-----------------------------TEXTO QUE SE ESCONDE Y DESPLIEGA -->
  <p *ngIf="showText">
    Hola mundo
  </p>

   <p *ngIf="!showText">
    Hola mundo oculto
  </p>
  
  <button (click)="showText = !showText">Mostrar</button> 

  <!--Esta parte no sé que hace jajaja aiuda-->

  <!-- <button (click)="this.showText != this.showText">Mostrar</button> 

  <button (click)="onChangeShow()">Mostrar</button>

  <div [ngSwitch]="value">
    <p *ngSwitchCase="1"> Valor 1</p>
    <p *ngSwitchCase="2"> Valor 2</p>
    <p *ngSwitchCase="3"> Valor 3</p>
    <p *ngSwitchCase="4"> Valor 4</p>
  </div> -->

  <!--Muestra y coulta elemento-->
  <p *ngIf="showText">
   Despliega
  </p>

  <ng-template #tplElese>
    <div>
      Else
    </div>
  </ng-template>

  <button (click)="showText = !showText;">Mostrar</button>

